*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body{
    background-color: #253354;
    color: aliceblue;
}

main{
    margin-left: 1rem;
    margin-right: 1rem;
}

.header{
    width: 100%;
    background-color: #0c2153;
    text-align: center;
    padding: 1rem;
}